.boxing {
  box-sizing: border-box;
  float: left;

  /* display: inline-block; */
  /* margin: 10px; */
}
.boxing span{
  float: left;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;

}

.ten{
margin-top: 5%;
}

body{
  background-color: #f9f9f9;
}

.addconent li{
  list-style: none;
  display: inline-block;
  border: 2px solid black;
  padding: 20px;
  margin-left: 5px;
  box-shadow:  1px 2px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  /* color: #DCDCDC; */
  /* background-color: #fff; */




}

.container{
    /* background-color: #e7e7e7; */
}

h1{
/* text-align: center; */
font-family:  "Asset";
}

.green{
  background: green;
}

.crimson {
  background: crimson;
}

.violet{
  background:violet;
}
